<div *ngIf="product">
  <h1>Product Detail</h1>
  <dl>
    <dt>
      <span>Name</span>
    </dt>
    <dd>
      <span>{{ product.name }}</span>
    </dd>
    <dt>
      <span>Type</span>
    </dt>
    <dd>
      <span>{{ product.type }}</span>
    </dd>
    <dt>
      <span>Description</span>
    </dt>
    <dd>
      <span>{{ product.description }}</span>
    </dd>
  </dl>

  <h3>Specs</h3>
  <dl *ngIf="product.attributes">
    <ng-container *ngFor="let attribute of product.attributes">
      <dt>
        <span>{{ attribute.name }}</span>
      </dt>
      <dd>
        <span>{{ attribute.value }}</span>
      </dd>
    </ng-container>
  </dl>

  <button type="submit" (click)="previousState()"> Back </button>
</div>
