<h2>Product</h2>
<form [formGroup]="productForm" (submit)="saveProduct()">
  <div>
    <input type="hidden" id="id" name="idField" formControlName="id" />
  </div>
  <div class="form-group">
    <label for="name">Name</label>
    <input class="form-control" id="name" name="nameField" formControlName="name" placeholder="Product Name" />
    <div class="text-danger" *ngIf="productForm.get('name').touched && productForm.get('name').invalid">
      <span *ngIf="productForm.get('name').errors.required">Required</span>
      <span *ngIf="productForm.get('name').errors.minlength">Minimum length 3</span>
      <span *ngIf="productForm.get('name').errors.maxlength">Maximum length 60</span>
    </div>
  </div>

  <div>
    <label for="type">Type</label>
    <input class="form-control" id="type" name="typeField" formControlName="type" placeholder="Product Type"/>
    <div class="text-danger" *ngIf="productForm.get('type').touched && productForm.get('type').invalid">
      <span *ngIf="productForm.get('type').errors.required">Required</span>
      <span *ngIf="productForm.get('type').errors.minlength">Minimum length 3</span>
      <span *ngIf="productForm.get('type').errors.maxlength">Maximum length 60</span>
    </div>
  </div>

  <div>
    <label for="description">Description</label>
    <textarea class="form-control" id="description" name="descriptionField" formControlName="description" placeholder="Product Description">
    </textarea>
    <div class="text-danger" *ngIf=" productForm.get('description').touched && productForm.get('description').invalid" >
      <span *ngIf="productForm.get('description').errors.required" >Required</span>
      <span *ngIf="productForm.get('description').errors.minlength">Minimum length 3</span>
      <span *ngIf="productForm.get('description').errors.maxlength">Maximum length 250</span>
    </div>
  </div>

  <div class="mt-3" formArrayName="attributes">
    <h3 class="mb-3">Specs</h3>
    <ng-container *ngFor="let attribute of attributes.controls; index as i">
      <div class="row" [formGroup]="attributes.at(i)">
        <div class="col-md-5 row form-group">
          <label class="col-md-2" for="attributeName">Name</label>
          <div class="col-md-10">
            <input class="form-control" id="attributeName" name="attributeNameField" formControlName="name" placeholder="Spec Name" />
            <div class="text-danger" *ngIf=" attributes.at(i).get('name').touched && attributes.at(i).get('name').invalid" >
              <span *ngIf="attributes.at(i).get('name').errors.required" >Required</span>
              <span *ngIf="attributes.at(i).get('name').errors.minlength">Minimum length 3</span>
              <span *ngIf="attributes.at(i).get('name').errors.maxlength">Maximum length 60</span>
            </div>
          </div>
        </div>
        <div class="col-md-5 row">
          <label class="col-md-2" for="attributeValue">Value</label>
          <div class="col-md-10">
            <input class="form-control" id="attributeValue" name="attributeValueField" formControlName="value" placeholder="Spec Value" />
            <div class="text-danger" *ngIf=" attributes.at(i).get('value').touched && attributes.at(i).get('value').invalid" >
              <span *ngIf="attributes.at(i).get('value').errors.required" >Required</span>
              <span *ngIf="attributes.at(i).get('value').errors.minlength">Minimum length 3</span>
              <span *ngIf="attributes.at(i).get('value').errors.maxlength">Maximum length 60</span>
            </div>
          </div>
        </div>
        <div class="col-md-2">
          <button class="btn btn-danger" type="button" (click)="deleteAttributeForm(i)">Delete</button>
        </div>
      </div>
    </ng-container>
    <div class="mt-3">
      <button class="btn btn-info" type="button" (click)="addAttributeForm()">Add Attribute</button>
    </div>
  </div>

  <div class="mt-5">
    <button class="btn btn-danger" type="button" (click)="previousState()">Cancel</button>
    <button class="ml-2 btn btn-primary" type="submit" [disabled]="!productForm.valid || isSaving">
      Save
    </button>
  </div>
</form>
