<div *ngIf="product">
  <h1>Product Detail</h1>
  <dl>
    <dt>
      <span>Name</span>
    </dt>
    <dd>
      <span>{{ product.name }}</span>
    </dd>
    <dt>
      <span>Type</span>
    </dt>
    <dd>
      <span>{{ product.type }}</span>
    </dd>
    <dt>
      <span>Description</span>
    </dt>
    <dd>
      <span>{{ product.description }}</span>
    </dd>
  </dl>

  <h3>Specs</h3>
  <div *ngIf="product.attributes">
    <div *ngFor="let attribute of product.attributes">
      <strong class="mr-2">
        <span>{{ attribute.name }}:</span>
      </strong>
      <span>{{ attribute.value }}</span>
    </div>
  </div>

  <div class="mt-5">
    <button class="btn btn-info" type="submit" (click)="previousState()"> Back </button>
    <a class="ml-2 btn btn-warning text-white" [routerLink]="['/products', product.id, 'edit']">Edit</a>
  </div>
</div>
